<%- include('head'); -%>
<body class="container">
    <header>
        <%- include('header'); -%>
    </header>
    <main>
        <div class="jumbotron">
            <h1>Confirm changing the password ?</h1>
            <p>This is ireversible process.</p>
            <form name="form" method="POST" action="">
                <button type="submit" class="btn btn-danger btn-lg">Accept</button>
            </form> 
        </div>
    </main>  
    <footer>
        <%- include('footer'); -%>
    </footer> 
</body>
</html>