<%- include('head'); -%>
<body class="container">
    <header>
        <%- include('header'); -%>
    </header>
    <main>
        <div class="jumbotron">
          <h1>Password Reset Success</h1>
          <p>This is ireversible process.</p> 
        </div>
    </main>  
    <footer>
        <%- include('footer'); -%>
    </footer> 
</body>
</html>